.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--inter-font), sans-serif;
  background-image: var(--page-background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-inline-size: var(--block-width);
  max-block-size: min-content;
  font-variation-settings: "wght" var(--normal-weight);
}

.header {
  margin-bottom: var(--header-margin);
  border: var(--block-border);
  padding: clamp(7.5rem, 7.2799rem + 0.9390vw, 8.125rem) clamp(1rem, -1.3437rem + 9.9996vw, 7.656rem);
  font-family: var(--ps2p-font), sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--block-background);
  font-variation-settings: "wght" var(--pixel-font-wght);
}

.header__title {
  padding-bottom: 20px;
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.card {
  border: var(--block-border);
}

.card__title {
  border-bottom: var(--block-border);
  padding: 4px 10px;
  vertical-align: middle;
  font-size: 1.125rem;
  background-color: var(--block-background);
  font-variation-settings: "wght" var(--bold-weight);
}

.card__image-block {
  position: relative;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: right;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-grayscale-hue {
  filter: grayscale(0.8) hue-rotate(90deg);
}

.filter-saturated {
  filter: saturate(160%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert-contrast {
  filter: invert(0.7) contrast(80%);
}

.filter-cool-hue {
  filter: hue-rotate(-90deg);
}

.filter-vintage {
  filter: grayscale(0.5) invert(0.3) hue-rotate(-40deg);
}

.card__image--watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--ps2p-font), sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-shadow:
  -1px 0 #fff,
  0 1px #fff,
  1px 0 #fff,
  0 -1px #fff;
  font-variation-settings: "wdth" var(--pixel-font-wght);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image--watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card__text {
  border-top: var(--block-border);
  padding: 25px;
  background-color: var(--block-background);
}

.card__paragraph {
  padding-bottom: 25px;
  font-size: 1.125rem;
  line-height: 21px;
  font-variation-settings: "wght" var(--normal-weight);
}

.card__button {
  display: flex;
  justify-content: end;
  gap: 7.5px;
  margin-top: 2px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  outline: none;
}

.like-icon {
  outline: 2px solid transparent;
  outline-offset: -1.3px;
  transition: 0.3s ease;
  transform-origin: center;
}

.card__icon-button:focus-visible .like-icon {
  outline-color: #000000;
}

.button {
  position: relative;
  border: var(--block-border);
  color: #000;
  font-family: var(--ps2p-font), sans-serif;
  font-size: 0.875rem;
  line-height: 90%;
  background-color: var(--block-background);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-variation-settings: "wdth" var(--pixel-font-wght);
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000;
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: 0.5s ease-in-out;
  transform-origin: left;
  scale: 0 1;
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  scale: 1;
}

.difference {
  inset: 12.5px 0;
  color: #fff;
  mix-blend-mode: difference;
}

.card__like-button {
  padding: 10.5px 20.5px;
}

.button__text {
  display: inline-block;
  min-inline-size: 84px;
}

.save {
  display: flex;
  justify-content: center;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 18px;
}

.save__floppy {
  inset: var(--save-floppy);
  color: #fff;
  transition: color 0.5s ease-in-out;
  inline-size: var(--floppy-size);
  block-size: var(--floppy-size);
  mix-blend-mode: difference;
}

.save__button--text {
  line-height: 165%;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  gap: var(--dialog-gap);
  row-gap: 30px;
  border: var(--block-border);
  padding: 30px;
  max-inline-size: var(--dialog-size);
  grid-template: min-content fit-content / repeat(2, min-content);
}

.dialog[open] {
  display: grid;
}

.dialog[open]::backdrop {
  opacity: 75%;
  background-color: #000;
}

.dialog__floppy {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  grid-column: 2;
  font-family: var(--ps2p-font), sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  text-transform: uppercase;
  font-variation-settings: 'wdth' var(--pixel-font-wght);
}

.dialog__button {
  grid-column: 1 / 3;
  padding: 10.71px 128.5px;
  text-transform: uppercase;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s 1 normal;
}

.like-icon.is-liked .sparks {
  animation: sparks-visibility 0.3s ease-in 0.3s 1 normal;
}

.contour {
  fill: var(--heart-contour, #000);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .like-icon:not(.is-liked) .core {
  fill: var(--heart-black);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon:not(.is-liked) .main-body {
  fill: var(--heart-black);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .like-icon:not(.is-liked) .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon:not(.is-liked) .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s linear 0.06s;
}

@media (width <= 768px) {
  .save__button {
    flex-direction: column;
  }
}