:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --normal-weight: 410;
  --bold-weight: 715;
  --page-background: 
    repeating-linear-gradient(to right, transparent, transparent 2px, #d3d3d3 2px, #d3d3d3 4px),
    repeating-linear-gradient(to bottom, transparent, transparent 2px, #d3d3d3 2px, #d3d3d3 4px),
    linear-gradient(#e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --pixel-font-wght: 400;
  --block-background: #fff;
  --block-border: 2px solid #000;
  --block-width: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);
  --header-margin: 98px;
  --card-gap: 50px;
  --floppy-size: 21px;
  --dialog-size: 353px;
  --dialog-padding: 28px;
  --dialog-button: 10.71px 128.5px;
  --save-floppy: 15px 18.5px;
  --save-text-top: 20px;
  --save-text-left: 30px;
  --save-button-padding: 14px 18px;
  --save-button-gap: 8px;
  --heart-black: #000;
  --heart-sparks: #FF0000;
}

@media (width <= 768px) {
  :root {
    --header-margin: 100px;
    --card-gap: 52px;
    --floppy-size: 28px;
    --dialog-size: 341px;
    --dialog-padding: 28px 38px;
    --dialog-button: 10.71px 114.5px;
    --save-floppy: 15px 137px;
    --save-text-top: 51px;
    --save-text-left: 0;
    --save-button-padding: 15.5px 18px 9px;
    --save-button-gap: 6px;
  }
}